<div class="container-fluid" id="containerforfait">
                <div class="row" id="rowtarif1">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 animation">
                        <div class="col12 pmd">Permis de conduire</div>
                        <div class="col12 price">à partir de <span style="font-size:italic">589€</span></div>
                        <div class="col12"><img id="imgtarif"src="{{asset('image/forfait.png')}}"></div>

                    
                    </div>
                    <div class="col-sm-4 avantage1">
                        <div class="col12 avantage3">Les avantages de la formation</div>
                        <div class="col12 avantage2">&nbsp;<i class="fas fa-arrow-circle-right">&nbsp;</i>Des forfaits tout compris</div>
                        <div class="col12 avantage2">&nbsp;<i class="fas fa-arrow-circle-right">&nbsp;</i>86% de réussite au permis</div>
                        <div class="col12 avantage2">&nbsp;<i class="fas fa-arrow-circle-right">&nbsp;</i>Réservez vos cours en ligne</div>
                        <div class="col12 avantage2">&nbsp;<i class="fas fa-arrow-circle-right">&nbsp;</i>Payez en 3 ou 6 fois sans frais</div>
                        

                    
                    </div>
                    <div class="col-sm-3"></div>

                    
                </div>
            </div>