{% block body %}

<div class="container-fluid" id="agre">
    <div class="col12">
        <i class="fas fa-university"></i>&nbsp;
        Auto-école agréée par la Préfecture - N°E.15.045.0202.0

    </div>
</div>
{% endblock body %}