{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

        <button>
        
          <a class="nav-link btndash" aria-current="page" href="{{path('home')}}"id="dashhomebutton">Accueil</a>
        </button>
{% endblock %}